*{
	margin: 0px;
	padding: 0px;
}

.nav{
width: 100%;
height: 10vh;
background-color: #e3f2fd;
}


#coffee{
	position: absolute;
    left: 10px;
    top: 15px;

}
#home{
	    position: absolute;
    left: 37vw;
    top: 15px;
}
#order{
	    position: absolute;
    left: 83vw;
    top: 15px;
}

.banner{
	width: 100%;
	height: 20vw;

}
.image{
	width: 100%;
	height:50vh;
}

.btn{
	 width: 100%;
    height: 10vw;
    position: absolute;
    top: 66vh;
}

.about_cofee{
	 width: 100%;
    height: 19vh;
    position: absolute;
    top:680px;
  
}

#carouselExampleSlidesOnly{
	    width: 100%;
    height: 42vw;
   
    position: absolute;
    top: 60vh;
}

.d-block{
	height: 70vw;
}
